include _app

doctype html
html(lang="es")
  +head
  

body(data-spy="scroll" data-target=".navbar" data-offset="80")

  +navi
  
  include modulos/_banner
  include modulos/_mi-cuenta
  //include modulos/_que-es
  //include modulos/_como-funciona
  //include modulos/_registro
  include modulos/_codigos
  //include modulos/_promociones.pug

  include modulos/_contacto

  +footer
  +scripts
  
