include _app
doctype html
html(lang="es")
  +head
  

body(data-spy="scroll" data-target=".navbar" data-offset="80")

  header
    nav.navbar.bg-light.navbar-expand-xl.fixed-top
      +navi(false)
      include modulos/_reserva
  
  include modulos/_banner
  include modulos/_resort
  include modulos/_spa
  include modulos/_contacto

  

  +footer
  +scripts
  
