section#banner
    .carousel.slide(data-ride="carousel")#bannerSlide
      .carousel-inner
        .carousel-item.active: img(src="app/img/marina-1.jpg").d-block.w-100
        .carousel-item: img(src="app/img/marina-2.jpg").d-block.w-100
        .carousel-item: img(src="app/img/marina-3.jpg").d-block.w-100
        .carousel-item: img(src="app/img/marina-4.jpg").d-block.w-100
        .carousel-item: img(src="app/img/marina-5.jpg").d-block.w-100
      a.carousel-control-prev(data-slide="prev" href="#bannerSlide")
        span.carousel-control-prev-icon
        span.sr-only Previous
      a.carousel-control-next(data-slide="next" href="#bannerSlide")
        span.carousel-control-next-icon
