section#catalogo
  .container
    .row.justify-content-center
      .col-md-6.col-sm-12.text-center: h2 Catálogo de canje
  .container
    .row
      - var cods = ['Artículos Personales', 'Cómputo', 'Cuidado personal', 'Deportes', 'Fragancias', 'Herramientas', 'Hogar', 'Línea Blanca', 'Tecnología']
      -for(var i = 0; i<cods.length; i++)
        .col-md-4
          .card.mt-5
            img(src="app/img/c"+(i+1)+".jpg").card-img-top
            .hr
            .card-body.text-center
              a(href="#" data-target="#canje"+i data-toggle="modal")=cods[i]

          +modal('canje'+i, cods[i])
            .row
              - for(var i=0; i<Math.floor((Math.random() * 4) + 2); i++)
                .col-6
                  .card
                    img(src="https://placehold.it/400x400").card-img-top
                    .card-body
                      a(href="#").btn.btn-sm #[i.fa.fa-shopping-cart] Agregar al Carrito
                      a(href="#").btn.btn-sm #[i.fa.fa-credit-card-alt] Canjear
                      a(href="#").btn.btn-sm #[i.fa.fa-search] Ver más
                  .hr
