section#como-funciona
  .container
    .row.justify-content-center
      .col-md-6.col-sm-12.text-center: h2 ¿Cómo funciona?
  .container-fluid#como
    .row
      .col#comocontents
        .row.justify-content-center
          .col-2.offset-1.num 1
          .col.text-left
            p Registra tus datos en este sitio o llamando al teléfono (55) 5087-9009.
            .hr
        .row.justify-content-center
          .col-2.offset-1.num 2
          .col.text-left
            p Proporciona tu correo electrónico con el que estás registrado en Grainger en cualquier sucursal, en la tienda en línea o a tu ejecutivo de cuenta en cada compra que realices.
            .hr
        .row.justify-content-center
          .col-2.offset-1.num 3
          .col.text-left
            p Tus puntos acumulados se verán reflejados en éste mismo portal 72 horas posteriores a la facturación de tu orden.
            .hr
        .row.justify-content-center
          .col-2.offset-1.num 4
          .col.text-left
            p Canjea tus Puntos Más X Más por increíbles premios en tu cuenta o llamando al teléfono (55) 5087-9009.
            .hr
      .col-4#comobg
