section#contacto
  .container
    .row.justify-content-center.socials
      .col.text-center
        a(href="#" target="_blank").mx-2: i.fa.fa-facebook
        a(href="#" target="_blank").mx-2: i.fa.fa-twitter
section#contacto_interior
  .container
    .row.justify-content-center
      .col-md-6.col-sm-12.text-center: h2 Contacto
  .container
    .row
      .col-md-6.col-sm-12
        p.text-center
          | Carretera Pichilingue Km 7.5 Zona Industrial, 23010 La Paz, BCS, Mexico 
          br
          | Desde Mexico 1-800-012 3444 
          br
          | Desde cualquier parte del mundo 1 877 392 5525 
        p.text-center ® 2019 COSTABAJA RESORT, MARINA & SPA. TODOS LOS DERECHOS RESERVADOS.
      .col-md-6.col-sm-12
        | <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1819.343624780509!2d-110.30238764127807!3d24.2177307!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x86afd49014800145%3A0xf30966e97839abdc!2sMarina+CostaBaja!5e0!3m2!1ses-419!2smx!4v1551129043872" width="100%" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>