+modal('terminos', 'Términos y Condiciones')
    p Definiciones
    p Para el Programa Puntos Más x Más los términos establecidos a continuación tendrán los siguientes significados:
    p: strong a) El programa de lealtad Puntos Más x Más: 
    p Es el Programa Comercial de Lealtad de Grainger S. A. de C. V. (Grainger) operado y administrado por Operadora ROFERI, S.A. de C.V. (Blue) para favorecer a los clientes de Grainger S. A. de C. V. participantes, mediante el cual las personas inscritas al mismo participan en promociones y/o acumulan créditos en Puntos Más x Más en su Cuenta de socio por la adquisición de determinados bienes mismos que podrán variar de tiempo en tiempo sin previo aviso. Tal acumulación se realiza de acuerdo a los Términos y Condiciones del programa por los Beneficios establecidos para tal efecto. Los Socios del programa de lealtad Puntos Más x Más gozarán de elegibilidad para recibir dichos Beneficios. Al programa de lealtad Puntos Más x Más en lo sucesivo y para efectos del presente documento se le denominará indistintamente como programa Puntos Más x Más o como el programa.

    p:strong b) Los Puntos Más x Más: 
    p Es la denominación que se da a los créditos que, conforme a los Términos y Condiciones del programa, se otorgan a los Socios y se acumulan en su Cuenta por la adquisición de determinados bienes ofrecidos. A los Puntos Más x Más en lo sucesivo y para efectos de este documento se les denominará indistintamente como Puntos Más x Más o como Puntos.

    p:strong c) Términos y Condiciones del programa Puntos Más x Más: 
    p Son las normas, reglas y políticas conforme a las cuales se opera y administra el programa, siendo susceptibles de ser modificadas sin previo aviso de tiempo. En dichos Términos y Condiciones contenidas en el presente documento o en las versiones subsecuentes de los mismos, estando vigentes la última versión de los mismos y a los cuales los Socios del programa en tal carácter se sujetan y obligan a cumplir, en virtud del acto de tramitar su inscripción al programa Puntos Más x Más.

    p:strong d) Acuerdo de confidencialidad: 
    p La información de cada Socio se manejará con carácter de confidencial exclusivamente para que reciba información y beneficios del programa Puntos Más x Más.

    p:strong e) Acumulación de Puntos Más x Más: 
    p Es el procedimiento mediante el cual el socio se hace acreedor a obtener Puntos Más por Más por la compra de productos autorizados por Grainger conforme a los Términos y Condiciones vigentes del Programa.

    p:strong f) Beneficios Puntos Más x Más:
    p Son las prestaciones en bienes o servicios a que tienen derecho de elegibilidad los Socios, en canje o redención de los Puntos o cualquier otra mecánica que decida Grainger. Mismos que podrán variar de tiempo en tiempo sin previo aviso por parte de Grainger. A los Beneficios Puntos Más x Más en lo sucesivo y para efectos del presente documento se le denominará indistintamente como Beneficios Puntos Más x Más o como Beneficios.

    p:strong g) Bono Adicional de Acumulación:
    p Son los Puntos adicionales que se acumulan en la Cuenta del Socio por la adquisición y/o utilización llevada a cabo por los Socios, de determinados productos y/o servicios. Dicho Bono Adicional se podrá establecer por tipo de producto, periodo de tiempo y/o cualquier otro criterio que determine Grainger.

    p:strong h) Establecimientos Participantes válidos para la acumulación de Puntos Más x Más:
    p Son los canales autorizados para la acumulación de Puntos. Por el momento, serán las sucursales Grainger ubicadas en toda la República Mexicana, los ejecutivos de cuenta Grainger y la tienda en línea; Grainger tiene el derecho de modificar los canales de venta elegibles de tiempo en tiempo y sin previo aviso.

    p:strong i) Canje o Redención de Puntos Más x Más:
    p Los Puntos Más x Más se pueden canjear por productos o servicios del Catálogo de Canje Puntos Más x Más.
    p Los productos y servicios canjeados serán enviados al domicilio que el socio indique al momento de realizar el proceso de canje.
    p Los productos y/o servicios del Catálogo de Canje Puntos Más x Más podrán variar de tiempo en tiempo sin previo aviso.
    p Los Puntos Más x Más no tienen valor monetario.
    p El tiempo de entrega de los productos será de 15 días hábiles a partir de la fecha en la que se realizó el canje.

    p:strong j) Devolución de productos adquiridos por canje de Puntos Más x Más:
    p Es el procedimiento mediante el cual el Socio regresa o devuelve los productos adquiridos previamente con la aplicación del canje o redención de los Puntos que tenía en su Cuenta. La mecánica de devolución dependerá del criterio que determine Grainger S. A. de C. V. mismo que podrá cambiar de tiempo en tiempo y sin previo aviso.

    p:strong k) Socio Puntos Más x Más:
    p Es la Persona inscrita al programa, cliente, conforme a cualquiera de los mecanismos establecidos para tal efecto. Al Socio Puntos Más x Más en lo sucesivo y para efectos del presente documento se le denominará indistintamente como Socio.

    p:strong l) Cuenta del Socio: 
    p Es la cuenta individual que se asigna a cada Socio en la cual se acumularán los Puntos Más x Más que tiene derecho el Socio.

    p:strong m) Formas de Pago Válidas para la Acumulación de Puntos:
    p Son las formas de pago autorizadas por Grainger para la acumulación de Puntos Más x Más siendo al momento el dinero en efectivo, las Tarjetas bancarias de crédito y débito. Grainger tiene el derecho de modificar las Formas de Pago Válidas de tiempo en tiempo y sin previo aviso.

    p:strong n) Pesos:
    p Para efectos del presente documento, se considerará como la referencia a la moneda de uso legal dentro de la República Mexicana.

    p:strong o) Canales válidos para el canje o redención de Puntos Más x Más:
    p Son los canales autorizados para el canje o la redención de Puntos. Grainger tiene el derecho de modificar los canales de venta elegibles de tiempo en tiempo y sin previo aviso.

    p:strong p) Transacción Autorizada: 
    p Es la compra llevada a cabo por los Socios, de los productos, servicios o bienes determinados por Grainger con una forma de Pago Válida para la Acumulación de Puntos conforme a los Términos y Condiciones vigentes del Programa.

    p:strong q) Vencimiento de Puntos:
    p Es el procedimiento mediante el cual se realiza la revisión de la cuenta del socio para determinar la cantidad de Puntos que ya no son vigentes y que son descontados de su cuenta.

    p:strong r) Vigencia de los Puntos: 
    p Es el periodo de tiempo en el cual los Puntos Más x Más son válidos para ser utilizados como canje. Los Puntos Más x Más son válidos por un periodo de 12 meses a partir del mes de acumulación. Una vez transcurrido este periodo y en caso de no ser utilizados, serán descontados de la cuenta del socio por medio de un proceso de vencimiento de Puntos.

    p Del registro de datos del Socio Puntos Más x Más: 
    p 1. El socio podrá realizar el registro de sus datos y crear su cuenta de socio a través de los 2 canales disponibles para tal fin:
    p Sitio de Internet del programa www.puntosgrainger.com ingresando a la sección de REGISTRO.
    p Centro de Atención Telefónica del programa llamando al teléfono (55) 50 87 90 09 en un horario de 9:00 a 18:00 hrs, hora del Centro de México, de lunes a viernes excepto días festivos.
    p 2. Durante el proceso de registro se le solicitará al socio ingresar su correo electrónico registrado en Grainger y la creación de una contraseña personal. Estos datos servirán para ingresar a su información en el sitio de Internet del programa. Ni Grainger ni Blue serán responsables por el mal uso o uso de un tercero de la información de acceso a la cuenta del socio ya que dicha información es personal e intransferible.
    p 3. El Registrarse en el Programa Puntos Más x Más no tiene ningún costo.

    p De la Acumulación de Puntos Más X Más:
    p 4. La acumulación de Puntos Más x Más únicamente aplicará en las compras de productos autorizados. por Grainger. No aplican bonificaciones retroactivas y únicamente se tomarán en cuenta para bonificación las facturas posteriores al registro en el programa Puntos Más x Más.
    p 5. Por cada $100 pesos (Cien pesos 00/100 M. N.) de compra de productos Grainger el cliente acumulará 1 (uno) Punto del total de su compra antes de IVA.
    p 6. En cada compra el cliente deberá de proporcionar su correo electrónico registrado en Grainger a su ejecutivo de cuenta, en las sucursales participantes o en la tienda en línea. Dichos puntos bonificados se verán reflejados 72 horas después de realizada la compra en el sitio www.puntosgrainger.com
    p 7. Las facturas con devolución, cancelación y notas de crédito sobre factura, no generan puntos
    p 8. El programa Puntos Más x Más no aplica para: Clientes corporativos; Clientes globales; Organismos de gobierno; Clientes con cartera vencida; Precios por contrato; Punchout; Micrositio; Keepstock; Clientes Varios (no registrados); Cuentas con precios por ser empleado Grainger. Grainger se reserva el derecho de retirar los puntos acumulados de las cuentas antes mencionadas.
    p 9. Grainger se reserva el derecho de decidir los productos que acumulan puntos dentro del programa Puntos Más x Más.
    p 10. El socio Más x Más podrá usar los canales autorizados para la acumulación de Puntos. Por el momento, serán las sucursales participantes ubicadas en toda la República Mexicana, los ejecutivos de cuenta Grainger y la tienda en línea; Grainger tiene el derecho de modificar los canales de venta elegibles de tiempo en tiempo y sin previo aviso.

    p Del Canje de Puntos Más x Más:
    p 11. El socio podrá canjear o redimir sus puntos en los canales válidos para el canje o redención de Puntos Más x Más. Por el momento, sólo será el sitio www.puntosgrainger.com y el Centro de Atención Telefónica del programa (55) 50 87 90 09, Grainger tiene el derecho de modificar los canales de venta elegibles de tiempo en tiempo y sin previo aviso.
    p 12. Los puntos acumulados en la cuenta del socio los podrá canjear por: Premios Instantáneos, en caso de que el cliente elija esta opción su compra ya no acumulará puntos; Premios del Catálogo de Canje disponible en el sitio web del programa www.puntosgrainger.com o en el Centro de Atención Telefónica del programa (55) 50 87 90 09.
    p 13. El premio le llegará en un lapso máximo de 15 días hábiles
    p 14. Los puntos no podrán ser redimidos si la cuenta está bloqueada por alguna factura pendiente de pago.
    p 15. Los Puntos Más x Más no tienen ningún valor monetario.

    p De la Vigencia de los Puntos Más x Más:
    p 16. La vigencia de los Punto acumulados en la cuenta del socio será de 12 meses a partir del mes de en el que fue realizada la acumulación, por ejemplo, los Puntos acumulados en el mes de agosto del año en curso vencerán 1 año, después el primer minuto del primer día de septiembre en caso de no utilizarlos.

    p De la Devolución de Productos Canjeados:
    p 17. Todos los productos se envían empacados y selladlos, es indispensable que el socio revise el producto al momento de la entrega. Cuando el producto canjeado llegue dañado deberás ponerte en contacto con nosotros a través del Centro de Atención Telefónica del Puntos Más x Más (55) 50 87 90 09 o al correo de info@puntosgrainger.com, donde nos deberás enviar fotos del empaque y del producto dañado e indicarnos cuál es el inconveniente con el mismo (dañado, incompleto, no funciona, etc.), indicarnos todos tus datos para que nuestro equipo del Centro Atención Telefónica pueda comunicarse y dar seguimiento a tu caso. ES IMPORTANTE que notifiques el inconveniente dentro de las primeras 36 horas de haber recibido el producto, de lo contrario no será posible realizar ningún tipo de reclamación.











+modal('preguntas', 'Preguntas Frecuentes')
    p 1.	¿Qué es el programa Puntos Más x Más?
    p Puntos Más X Más es el programa de lealtad diseñado para recompensar y reconocer tu preferencia otorgándote múltiples beneficios por la compra de nuestros productos Grainger.
    p Al inscribirte a Puntos Más X Más podrás acumular puntos que podrás canjear por increíbles premios y participar en promociones especiales disponibles para socios afiliados al programa.

    p 2.	¿En dónde puedo darme de alta o inscribirme al programa Puntos Más x Más?
    p Inscribirte al programa no tiene ningún costo y podrás hacerlo directamente en el sitio www.puntosgrainger.com o llamando al Centro de Atención Telefónica del programa Puntos Más x Más (55) 50 87 90 09.

    p 3.	¿Quiénes no pueden participar en el programa Puntos Más x Más?
    ul
        li Clientes corporativos
        li Clientes globales
        li Organismos de gobierno
        li Clientes con cartera vencida
        li Clientes con precios por contrato
        li Punchout
        li Micrositio
        li Keepstock
        li Clientes Varios (No Registrados)
        li Cuentas con precios por ser empleado Grainger.

    p 4.	¿Cómo acumulo Puntos Más x Más? 
    p Podrás acumular Puntos Más x Más en cada compra de productos que realices ya sea con tu ejecutivo de cuenta Grainger, en las sucursales participantes o en la tienda en línea, siempre y cuando proporciones el correo electrónico con el que te registraste en el programa Puntos Más x Más. Es muy importante que proporciones el correo electrónico ya que de no proporcionarlo no acumularás puntos por la compra realizada.

    p 5.	¿Cuánto acumulo por cada compra que realice?
    p Por cada 100 pesos de compra se te acumulará un punto del total de tu compra realizada antes de IVA.

    p 6. ¿Cuándo podré ver mis puntos reflejado por mis compras?
    p Los puntos bonificados por tus compras se verán reflejados 72hrs después de realizada la compra.

    p 7.	¿Puedo cambiar mis Puntos Más x Más por dinero? 
    p No, los Puntos Más x Más únicamente pueden ser utilizados para canje por productos del Catálogo de Canje del programa Puntos Más x Más y no podrán ser cambiados por dinero.

    p 8.	¿Qué vigencia tiene mis puntos Más x Más? 
    p Los puntos Más por Más tienen una vigencia de 12 meses a partir del mes de acumulación.

    p 9.	¿En dónde puedo canjear los puntos que acumule? 
    p Los puntos acumulados por tus compras los puedes canjear en el catálogo de canje del programa en el sitio www.puntosgrainger.com, llamando al Centro de Atención de Telefónica del programa (55) 50 87 90 09 o bien puedes canjearlos por premios instantáneos en www.grainger.com.mx. Recuerda que para que realices el canje de dichos puntos debes estar registrado previamente en el programa Puntos Más x Más.

    p 10.	¿Cuándo no podré canjear mis puntos?
    p Los puntos no podrán ser canjeados si tu cuenta está bloqueada por cuestión de pagos atrasados.

    p 11.	¿Cuánto tiempo tardará mi premio en llegar?
    p El premio canjeado llegará en un lapso máximo de 15 días

    p 12.	¿Qué hago en caso de que mi premio llegue dañado?
    p Cuando el premio canjeado llegue dañado deberás ponerte en contacto con nosotros a través del Centro de Atención Telefónica del Puntos Más x Más (55) 50 87 90 09 o al correo de info@puntosgrainger.com, donde nos deberás enviar fotos del empaque y del producto dañado e indicarnos cuál es el inconveniente con el mismo (dañado, incompleto, no funciona, etc.), indicarnos todos tus datos para que nuestro equipo del Centro Atención Telefónica pueda comunicarse y dar seguimiento a tu caso. ES IMPORTANTE que notifiques el inconveniente dentro de las primeras 36 horas de haber recibido el producto.



+modal('aviso', 'Aviso de Privacidad')
    p Este Aviso de Privacidad aplica únicamente al sitio de Internet www.puntosgrainger.com, el cual contiene la información relativa al programa Puntos Más x Más, propiedad de (GRAINGER SA DE CV) y operado por OPERADORA ROFERI S.A. DE C.V. (BLUE PURE LOYALTY). Al formar parte del programa Puntos Más x Más, Usted acepta automáticamente los Términos y Condiciones de este Aviso de Privacidad y del manejo de la información para los propósitos establecidos. OPERADORA ROFERI S.A. DE C.V. (BLUE PURE LOYALTY), con domicilio en José María Castorena 324 local 109, Colonia Cuajimalpa, Cuajimalpa de Morelos, 05000, México, Distrito Federal, es responsable para efectos de la Ley Federal de Protección de Datos Personales en Posesión de Particulares, de conformidad con lo establecido en el artículo 17, fracción II de la citada Ley, por lo que se le informa que tratará los datos personales que Usted nos proporcione de forma directa y/o indirecta por cualquier razón y/o circunstancia, a través de cualquier medio y/o forma, con la única y exclusiva finalidad de poder prestar los servicios contratados y/o solicitados por Usted. Por lo anterior, los mismos serán tratados bajo los principios de licitud, consentimiento, información, calidad, finalidad, lealtad, proporcionalidad y responsabilidad de acuerdo con la mencionada Ley. BLUE PURE LOYALTY podrá recabar datos personales en función del servicio contratado y/o solicitado por Usted y, de igual forma, dichos datos personales podrán ser transferidos al propietario del Programa, (GRAINGER SA DE CV), con el único propósito de cumplir con los fines señalados en el presente aviso de privacidad. Los datos personales proporcionados por Usted, serán utilizados para (i) llevar a cabo el proceso y verificación de conflicto de independencia; (ii) integrar su expediente como cliente; (iii) prestar los servicios que pudieran llegar a ser o hayan sido contratados y/o solicitados; (iv) llevar a cabo la adquisición de los derechos o productos relacionados con los mismos; (v) para la entrega de productos adquiridos y ganados; (vi) alertarlo de promociones e información actualizada y relevante del programa; (vii) dar respuesta a solicitudes realizadas por Usted. Los datos personales que nos sean proporcionados, se encontrarán debidamente protegidos a través de medidas de seguridad tecnológicas, físicas y administrativas, previniendo el uso o divulgación indebida de los mismos. Para llevar a cabo las finalidades descritas en el presente aviso de privacidad, utilizaremos: datos personales de identificación, datos de contacto y domicilio. Usted podrá en cualquier momento, revocar el consentimiento que nos ha otorgado para el tratamiento de sus datos personales, limitar el uso o divulgación de los mismos, así como ejercer sus derechos de Acceso, Rectificación, Cancelación y Oposición (ARCO) previstos en la Ley, mediante el envío de un comunicado por escrito y con acuse de recibo a nuestro domicilio. Dicha solicitud deberá contener por lo menos su nombre completo, domicilio completo, documentos que acrediten su identidad, señalando claramente el vínculo de relación con BLUE PURE LOYALTY y especificando en forma clara y precisa los datos personales de los que solicita su acceso, rectificación, actualización o cancelación, los elementos o documentos en donde pueden obrar los datos personales e indicando las razones por las cuales desea acceder a sus datos personales o, las razones por las que considera que sus datos deben ser actualizados, rectificados o cancelados. Asimismo, usted deberá considerar que, para ciertos fines, la revocación de su consentimiento implicará que no le podamos seguir prestando el servicio que nos solicitó, o la conclusión de su relación con nosotros. A partir de la recepción de dicha solicitud, se tendrá un plazo de 20 (veinte) días hábiles para responder a su solicitud, sin embargo, dicho plazo podrá ser ampliado por un periodo de tiempo igual, lo que le será notificado, por el medio que Usted nos haya indicado para tales efectos, señalando las razones de dicha ampliación, de conformidad con el artículo 32 de la Ley. Los datos de contacto del departamento que dará trámite a las solicitudes para el ejercicio de los derechos ARCO, así como atender cualquier duda que pudiera tener respecto al tratamiento de su información son los siguientes: Departamento de Atención a Clientes, con domicilio en José María Castorena 324 local 109, Colonia Cuajimalpa, Cuajimalpa de Morelos, 05000, México, Distrito Federal y correo electrónico info@puntosmarti.com Asimismo, le informamos que en términos de la Ley y su Reglamento, a partir del 6 (seis) de enero de 2012 (dos mil doce), usted puede iniciar el procedimiento de Protección de Derechos ARCO, ante el Instituto Federal de Acceso a la Información y Protección de Datos Personales (IFAI), dentro de los 15 (quince) días siguientes a la fecha en que BLUE PURE LOYALTY de respuesta a su solicitud y esta no le sea satisfactoria, o bien, si transcurrido el término señalado, BLUE PURE LOYALTY no diera respuesta a su solicitud. El presente aviso de privacidad podrá ser modificado o actualizado unilateralmente, informando de dichos cambios a través de nuestro sitio web.