section#resort
  .container
    .row.justify-content-center
      .col.text-center: h2 Resort
    .row.justify-content-center
      .col-12
        p #[strong COSTABAJA RESORT, MARINA & SPA] el primer hotel y spa de lujo en la ciudad de La Paz, se ubica en el magnífico Mar de Cortés con vista a la Marina y al mar. Al norte se localiza la Isla Espíritu Santo, donde encontrará la mayor reserva marina del mundo y las mejores oportunidades de pesca deportiva en Baja California Sur.
        p Bienvenidos a un lugar en donde el mar y la tierra se fusionan de una manera que el resto del mundo no ha visto. Un exclusivo lugar, en donde la elegancia, refinamiento, hospitalidad, privacidad, combinados con el carisma de La Paz, proyectan una estimulante y reservada personalidad. Tan sólo de pie, frente al majestuoso Mar de Cortés, CostaBaja ofrece una mezcla única entre belleza y tranquilidad.
  .container
    .row
      .col: div(style="background-image: url(https://placehold.it/1110x500)").min-height-bg500
    .row.mt-4
      .col-md.col-sm-12: div(style="background-image: url(https://placehold.it/540x500)").min-height-bg500
      .col-md.col-sm-12
        div(style="background-image: url(https://placehold.it/540x300)").min-height-bg300
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta nihil sequi illo officia minima a nisi quaerat itaque. Exercitationem praesentium unde velit? Nesciunt doloribus quam ipsam, iure eos perferendis praesentium?
    .row.mt-4
      .col-md.col-sm-12: div(style="background-image: url(https://placehold.it/540x300)").min-height-bg300
      .col-md.col-sm-12: div(style="background-image: url(https://placehold.it/540x400)").min-height-bg400.mt-m100