section#resort
  .container
    .row.justify-content-center
      .col.text-center: h2 Bienvenido a Marina CostaBaja
    .row.justify-content-center
      .col-12
        p Ubicada en el Mar de Cortés, en la hermosa ciudad de La Paz, Baja California Sur, México. Nombrado por Jacques Costeau como "El Acuario del Mundo", el Mar de Cortés es famoso por la diversidad marina que ofrece y por la mejor pesca deportiva durante todo el año. Situada en una comunidad integralmente planeada que ofrece el estilo de vida de un resort de lujo. 
        p El desarrollo de 225 hectáreas cuenta con un diseño meticuloso y está rodeado por hermosas playas de arena blanca, bahías de aguas cristalinas y paisajes desérticos. En Marina CostaBaja encontrará todo lo necesario para cubrir sus necesidades, con amenidades y servicios de clase mundial.
  .container
    .row
      .col: div(style="background-image: url(app/img/costabaja-1.jpg)").min-height-bg500
    .row.mt-4
      .col-md.col-sm-12: div(style="background-image: url(app/img/costabaja-2.jpg)").min-height-bg500
      .col-md.col-sm-12
        div(style="background-image: url(app/img/costabaja-3.jpg)").min-height-bg300
        p: strong La Paz, Baja California Sur México, localizada en el corazón del Mar de Cortés conocido como "El Acuario del Mundo" por Jacques Cousteau.
    .row.mt-4
      .col-md.col-sm-12: div(style="background-image: url(app/img/costabaja-4.jpg)").min-height-bg300
      .col-md.col-sm-12: div(style="background-image: url(app/img/costabaja-5.jpg)").min-height-bg400.mt-m100