section#spa
  .container
    .row.justify-content-center
      .col.text-center: h2 SPA
  .container
    .row
      .col-md.col-sm-12: div(style="background-image: url(https://placehold.it/1110x300)").min-height-bg300
    .row.mt-4
      .col-md.col-sm-12: div(style="background-image: url(https://placehold.it/540x300)").min-height-bg300
      .col-md.col-sm-12
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta nihil sequi illo officia minima a nisi quaerat itaque. Exercitationem praesentium unde velit? Nesciunt doloribus quam ipsam, iure eos perferendis praesentium?
    .row.mt-4
      .col-md.col-sm-12: div(style="background-image: url(https://placehold.it/540x300)").min-height-bg300
      .col-md.col-sm-12: div(style="background-image: url(https://placehold.it/540x400)").min-height-bg400.mt-m100


section#espiritu-spa
  .container
    .row.justify-content-center
      .col.text-center
        h2 Espíritu Spa
        h3 Conóce Espíritu Spa
  .container
    .row
      .col-md.col-sm-12
        p.text-justify Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias dolorum fugiat quidem doloremque est veritatis possimus velit ea error molestiae culpa, consectetur mollitia aspernatur facere? Voluptate nemo facilis nam voluptates!Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias dolorum fugiat quidem doloremque est veritatis possimus velit ea error molestiae culpa, consectetur mollitia aspernatur facere? Voluptate nemo facilis nam voluptates!

      .col-md.col-sm-12
        p.text-justify Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias dolorum fugiat quidem doloremque est veritatis possimus velit ea error molestiae culpa, consectetur mollitia aspernatur facere? Voluptate nemo facilis nam voluptates!